<!DOCTYPE html>
<html>
    <head>
        <style> 
            strong {
                text-shadow: 0 0 5px #FFFFFF;
                -moz-text-shadow: 0 0 5px #FFF;
                -webkit-text-shadow: 0 0 5px #FFF;
                }   
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "css/bootstrap.min.css" type = "text/css">
    </head>
    <title>로그인 페이지</title>
<meta charset="utf-a">
    
    <body>
        <div style=" position:absolute; left:100%; background-color:lightskyblue; margin-top: 30px; margin-left: -63.5%;   width: 350px; height: 550px; border-radius: 3%; border:20px solid lightskyblue" ><br><br><br>
            
         <form method = 'POST' action="/logincheck" style="text-align: center" >
             <font face="헤드라인M" size=10em><strong>LOGIN</strong></font><br><br><br>
             <font style="float: left">ID</font>
         <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-default" placeholder="아이디" name="id"><br>
            
         <font style="float: left">Passwd</font>
             <input type="password" class="form-control" aria-label="LArge" aria-describedby="inputGroup-sizing-default" placeholder="비밀번호" name="pw"><br>
  <button type="submit" class="btn btn-primary" >Login</button>&nbsp;
  <button type="button" class="btn btn-primary" onclick="location.href = './signup'">Sign up</button>
        </form>
        </div>
    </body>
</html>

